@model TechRent.Domain.Entities.Cart

<div class="navbar-right">
    @Html.ActionLink("In Cart", "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-default navbar-btn" })
</div>

<div class="navbar-text navbar-right">
    <b>Your cart:</b>
    @Model.ComputeTotalValue().ToString("# euro")
</div>
